###
# Unity folders and files
###
/ESIRW_gamew/[Aa]ssets/AssetStoreTools*
/ESIRW_gamew/[Bb]uild/
/ESIRW_gamew/[Ll]ibrary/
/ESIRW_gamew/[Ll]ocal[Cc]ache/
/ESIRW_gamew/[Oo]bj/
/ESIRW_gamew/[Tt]emp/
/ESIRW_gamew/[Uu]nityGenerated/
/ESIRW_gamew/.vs/
# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
